@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background: rgb(26, 164, 155);
  background: -moz-linear-gradient(
    90deg,
    rgba(26, 164, 155, 1) 0%,
    rgba(218, 17, 43, 1) 49%,
    rgba(173, 198, 48, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(26, 164, 155, 1) 0%,
    rgba(218, 17, 43, 1) 49%,
    rgba(173, 198, 48, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(26, 164, 155, 1) 0%,
    rgba(218, 17, 43, 1) 49%,
    rgba(173, 198, 48, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1aa49b",endColorstr="#adc630",GradientType=1);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0e363",endColorstr="#fce454",GradientType=1);
}
.wrapper {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.wrapper-header {
  font-size: 44px;
  letter-spacing: 1.3rem;
  color: rgba(252, 252, 252, 0.479);
}
.wrapper-list {
  margin-top: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.wrapper-list img {
  transition: all 0.4s;
  width: 150px;
  height: 150px;
  border-radius: 1.3rem;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
.wrapper-list-left {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.wrapper-list-left img {
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}
.wrapper-list-rigth {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper-list-right img {
  border-radius: 1.3rem;
  -webkit-border-radius: 1.3rem;
  -moz-border-radius: 1.3rem;
  -ms-border-radius: 1.3rem;
  -o-border-radius: 1.3rem;
}
#game-result {
  font-size: 66px;
  margin-top: 3.4rem;
  color: rgba(255, 255, 255, 0.356);

  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-list-left img:hover {
  transition: all 0.4s;
  width: 200px;
  height: 200px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}
